__pycache__
client/src/.cache-loader
node_modules
venv
venv36
.idea
.idea/detecting-fake-text.iml
.idea/detecting-fake-text.iml
.idea/misc.xml
.idea/workspace.xml
*.iml
*.xml
.idea/workspace.xml
*.xml
gpt-2.medium-345M.train.jsonl
gpt-2.webtext.train.jsonl
gpt-2.medium-345M-k40.valid.jsonl
gpt-2.medium-345M-k40.train.jsonl
gpt-3.175b_samples.jsonl
gpt2.analyzed.medk40train-1000.json
gpt2.analyzed.medk40train-5000.json
gpt2.analyzed.webtext-1000..json
gpt2.analyzed.webtext-5000..json
gpt2.analyzed.webtext-1000.json
gpt2.analyzed.webtext-5000.json
generator=mega_dataset=p0.94.jsonl
generator=mega_discriminator=grover_discsize=mega_dataset=p0.94_test-probs.npy
generator=mega_discriminator=grover_discsize=mega_dataset=p0.94_val-probs.npy
grover.analyzed.machine-1000.json
grover.analyzed.human-1000.json
grover.analyzed.human-100.json
grover.analyzed.machine-100.json
